<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row">
    <div class="mapwell">
      <iframe src="https://www.google.com/maps/d/embed?mid=1NWazJpruzDOiyFQ8imx78bYvRxo&hl=en_US" width="640" height="480"></iframe>
    </div><!--div class="well"-->
  </div><!--div class="row"-->
</div><!--div class="container"-->
