<div style="text-align: center;">
  <h1 style="font-family:'Arial';">Stop List</h1>
  <div style="font-family:'Arial';">
    <% @stoplist['items'].each do |k,v| %>
    <%= "#{k['display_name']}" %> <br />
    <% end %>
  </div>
</div>
