<h1>Route List</h1>
<h3>
	<% @routelist.each {|k,v| %>
		<% v.each {|key, value| %>
			<br /><%= link_to "#{key['display_name'][5..40]}", stop_list_path(:route_id => "#{key['id'][0..2]}") %>
<% } %>
	<% } %>
</h3>
