<div class="well">
  <% if @place.blank? %>
      <h3>No result found</h3>
  <% else %>
      <% @place.each do |row| %>
          <%= link_to "#{row['name']}", places_show_path(:id => row['id']) %> <br />
      <% end %>
  <% end %>
</div>
